<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!../../../common/layout/_header.html') %>
    <% if (htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
      <% } %>
        <title></title>
        <% if (htmlWebpackPlugin.files.css.length == 1) { %>
          <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
          <% } %>
            <% if (htmlWebpackPlugin.files.css.length == 2) { %>
              <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
              <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[1] %>">
              <% } %>
                <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</head>

<body>
  <div id="head-components"></div>
  <div class="container">
      <div class="section">
        <div class="left">

        </div>
        <div class="right">
          
        </div>
      </div>
      <div class="qiye-container">
        <div class="qiye-title-box">
          <span class="qiye-title"></span>
        </div>
        <div class="qiye-list">

        </div>
      </div>
  </div>
  <div id="copyright-components"></div>
  <script type="text/html" id="tpl-block1">
    {{ each data as item }}
    <a href="../article/index.html?id={{item.id}}&cid={{category.id}}&cname={{category.category_title}}" style="background-image:url('{{item.thumb}}')" target="_blank">
      <div class="title">{{item.title}}</div>
    </a>
    {{/each}}
  </script>
  <script type="text/html" id="tpl-block2">
    <div class="title"></div>
    <div class="list">
      {{ each data as item }}
      <a href="../article/index.html?id={{item.id}}&cid={{category.id}}&cname={{category.category_title}}" target="_blank">{{item.title}}</a>
      {{/each}}
    </div>
  </script>
  <script type="text/html" id="tpl-qiye">
    {{ each data as item }}
    <a href="{{item.link}}" style="background-image:url('{{item.thumb}}')" target="_blank">
      <div class="title">{{item.title}}</div>
    </a>
    {{/each}}
  </script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>