#app {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;

    .title {
        text-align: center;
        margin-bottom: 40px;
    }

}

#list {
    padding: 0;

    .list-item {
        list-style: none;
        margin-bottom: 10px;

        .name {
            display: inline-block;
            width: 100px;
        }

        .mobile {
            display: inline-block;
            margin-right: 20px;
        }

        .type {
            display: inline-block;
            width: 100px;
        }

        .file {
            display: inline-block;
            text-decoration: none;
        }
    }
}