<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!../../common/layout/_header.html') %>
  <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
  <% } %>
  <title>提案</title>
  <% if (htmlWebpackPlugin.files.css.length) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[1] %>">
  <% } %>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>  
</head>
<body>
  <div id="app">
    <h1 class="title">我的表单</h1>
    <ul id="list"></ul>
  </div>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>