<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!../../../../common/layout/admin/_header.html') %>
    <% if (htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
      <% } %>
        <title>后台管理系统</title>
        <% if (htmlWebpackPlugin.files.css.length == 1) { %>
          <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
          <% } %>
            <% if (htmlWebpackPlugin.files.css.length == 2) { %>
              <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
              <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[1] %>">
              <% } %>
                <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <%= require('html-loader!../../../../common/layout/admin/_nav.html') %>
      <%= require('html-loader!../../../../common/layout/admin/_menu.html') %>
        <div class="layui-body">
          <table id="tablePage" lay-filter="tablePage"></table>
        </div>
        <%= require('html-loader!../../../../common/layout/admin/_footer.html') %>
  </div>
  <script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    
    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
      <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
  </script>
  <script type="text/html" id="tpl">
    <form class="layui-form edit-form">
      <div class="layui-form-item hidden">
        <label class="layui-form-label">id</label>
        <div class="layui-input-block">
          <input value="{{id}}" type="text" name="id" required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">文章标题</label>
        <div class="layui-input-block">
          <input value="{{title}}" type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">大类</label>
        <div class="layui-input-block">
          <select name="category_parent_id" lay-verify="required" lay-filter="category_parent_id">
            <option value=""></option>
            {{each categoryParaent as item}}
            <option value="{{item.id}}">{{item.category_title}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">小类</label>
        <div class="layui-input-block">
          <select id="category_id" name="category_id" lay-verify="required" lay-filter="category_id">
            
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">概要</label>
        <div class="layui-input-block">
          <input value="{{summary}}" type="text" name="summary" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item hidden">
        <label class="layui-form-label">封面</label>
        <div class="layui-input-block">
          <input id="thumb" value="{{thumb}}" type="text" name="thumb" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">封面</label>
        <div class="layui-input-block">
          <button type="button" class="layui-btn" id="upload">
            <i class="layui-icon">&#xe67c;</i>上传
          </button>
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">作者</label>
        <div class="layui-input-block">
          <input value="{{author}}" type="text" name="author" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">显示时间</label>
        <div class="layui-input-block">
          <input value="{{show_time}}" id="laydate" type="text" name="show_time" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">文章内容</label>
        <div class="layui-input-block">
          <div id="editor"></div>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="editForm">保存</button>
        </div>
      </div>
    </form>   
  </script>
  <script type="text/html" id="tpl1">
    <option value=""></option>
    {{ each data as item }}
    <option value="{{item.id}}">{{item.category_title}}</option>
    {{/each}}
  </script>
  <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>