<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!../../../common/layout/_header.html') %>
    <% if (htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
      <% } %>
        <title></title>
        <% if (htmlWebpackPlugin.files.css.length == 1) { %>
          <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
          <% } %>
            <% if (htmlWebpackPlugin.files.css.length == 2) { %>
              <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
              <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[1] %>">
              <% } %>
                <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</head>

<body>
  <header id="header">网站组织</header>
  <nav>
    <h1>网站标题</h1>
    <ul>
        <li><a href=""></a></li>
    </ul>
  </nav>
  
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>