<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!../../../common/layout/_header.html') %>
    <% if (htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
      <% } %>
        <title></title>
        <% if (htmlWebpackPlugin.files.css.length == 1) { %>
          <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
          <% } %>
            <% if (htmlWebpackPlugin.files.css.length == 2) { %>
              <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
              <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[1] %>">
              <% } %>
                <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</head>

<body>
  <div id="head-components"></div>
  <div class="container">
    <div class="left">
      
    </div>
    <div class="right">
      
    </div>
  </div>
  <div id="copyright-components"></div>
  <script type="text/html" id="tpl-left">
    <div class="title">{{category.name}}</div>
    <div class="title-list">
      {{ each data as item }}
      <a class="{{if activeId === item.id}}active{{/if}}" href="../article/index.html?id={{item.id}}&cid={{category.id}}&cname={{category.name}}">{{item.title}}</a>
      {{/each}}
    </div>
  </script>
  <script type="text/html" id="tpl-article">
    <div class="title">{{title}}</div>
    <div class="info">作者：{{author}} 发布日期： {{show_titme}}</div>
    <img class="thumb" src="{{thumb}}" alt="{{title}}">
    <div class="content">{{content}}</div>
  </script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>