<meta charset="utf-8" />
<meta name="description" content="个人建站，张敏303890562@qq.com" />
<meta name="keywords" content="张敏 303890562" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link rel="stylesheet" href="//nextdog.cc/public/libs/layui/css/layui.css">
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//nextdog.cc/public/libs/layui/layui.all.js"></script>  