<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">栏目管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/pc/admin/category/list/index.html">列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">内容管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/pc/admin/article/list/index.html">列表</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>