<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!../../../common/layout/admin/_header.html') %>
  <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
  <% } %>
  <title>登陆</title>
  <% if (htmlWebpackPlugin.files.css.length == 1) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
  <% } %>
  <% if (htmlWebpackPlugin.files.css.length == 2) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[1] %>">
  <% } %>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>  
</head>
<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <form class="layui-form login-form" lay-filter="loginForm">
      <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
          <input type="text" name="title" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">密码框</label>
        <div class="layui-input-block">
          <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="loginForm" type="button">登陆</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>    
    <%= require('html-loader!../../../common/layout/admin/_footer.html') %>
  </div>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>